header{
    height: 715px;
    width: 100%;
    background-color: transparent;
}
h1{
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-size: 40px;
}
.list{
    font-size: 30px;
    margin-bottom: 50px;
    text-decoration: underline;
    text-align: center;
    color: #835608;
    
}
.que1{
    text-align: start;
    margin-left: 10px;
}
.que1 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que2{
    text-align: start;
    margin-left: 10px;
  
}
.que2 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que3{
    text-align: start;
    margin-left: 10px;

}
.que3 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que4{
    text-align: start;
    margin-left: 10px;

}
.que4 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que5{
    text-align: start;
    margin-left: 10px;
}
.que5 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que6{
    text-align: start;
    margin-left: 10px;
}
.que6 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que7{
    text-align: start;
    margin-left: 10px;
}
.que7 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que8{
    text-align: start;
    margin-left: 10px;
}
.que8 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que9{
    text-align: start;
    margin-left: 10px;
}
.que9 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que10{
    text-align: start;
    margin-left: 10px;
}
.que10 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que11{
    text-align: start;
    margin-left: 10px;
}
.que11 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que12{
    text-align: start;
    margin-left: 10px;
}
.que12 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que13{
    text-align: start;
    margin-left: 10px;
}
.que13 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que14{
    text-align: start;
    margin-left: 10px;
}
.que14 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que15{
    text-align: start;
    margin-left: 10px;
}
.que15 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que16{
    text-align: start;
    margin-left: 10px;
}
.que16 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.que17{
    text-align: start;
    margin-left: 10px;
}
.que17 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}

.practical1{
    text-align: start;
    margin-left: 10px;
}
.practical1 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.practical2{
    text-align: start;
    margin-left: 10px;
}
.practical2 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.practical3{
    text-align: start;
    margin-left: 10px;
}
.practical3 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}
.practical4{
    text-align: start;
    margin-left: 10px;
}
.practical4 a{
    text-decoration: none;
    font-size: 25px;
    color: #835608;
}